*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  /* root font size =  desired font size / 16px  */
}
body {
  box-sizing: border-box;
  font-family: 'EB Garamond', serif;
}
.wrapper {
  width: 100%;
  margin: 0 auto;
}
.navigation {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to right, #bf0000, grey);
}
.navigation div {
  padding: 0 0;
}
.navigation div.logo {
  padding: 0 4rem;
}
@media (max-width: 828px) {
  .navigation div.logo {
    padding: 0 0rem;
  }
}
.navigation img.logo__img {
  max-height: 90px;
}
@media (max-width: 828px) {
  .navigation img.logo__img {
    max-height: 70px;
  }
}
@media (max-width: 500px) {
  .navigation img.logo__img {
    max-height: 60px;
  }
}
.navigation div.nav-links {
  display: flex;
  align-items: center;
}
.navigation a {
  color: #f8f0e4;
  padding: 0 8rem;
  font-size: 2.2rem;
  text-decoration: none;
}
@media (max-width: 828px) {
  .navigation a {
    padding: 0 4rem;
    font-size: 2.2rem;
  }
}
@media (max-width: 500px) {
  .navigation a {
    padding: 0 1.5rem;
    font-size: 1.6rem;
  }
}
.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(to top right, rgba(191, 0, 0, 0.8), rgba(128, 0, 0, 0.8)), url(../img/books-girl.jpg);
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
}
@media (max-width: 828px) {
  .header {
    height: 82vh;
    clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
  }
}
@media (max-width: 500px) {
  .header {
    height: 77vh;
    clip-path: polygon(0 0, 100% 0, 100% 73vh, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 73vh, 0 100%);
  }
}
.header__text--box {
  position: absolute;
  top: 29%;
  left: 24%;
  transform: translate(-50%, -50%);
  text-align: left;
}
@media (max-width: 1028px) {
  .header__text--box {
    left: 32%;
  }
}
@media (max-width: 828px) {
  .header__text--box {
    left: 35%;
  }
}
@media (max-width: 500px) {
  .header__text--box {
    left: 40%;
  }
}
.header__button {
  padding: 1.5rem 4em;
  border: 1px solid transparent;
  background-color: white;
  color: rgba(191, 0, 0, 0.8);
  border-radius: 8px;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
}
@media (max-width: 500px) {
  .header__button {
    padding: 0.8rem 1.8em;
    font-size: 1.5rem;
  }
}
.header__subtext--box {
  position: absolute;
  top: 65%;
  left: 80%;
  transform: translate(-50%, -50%);
  text-align: right;
}
@media (max-width: 1028px) {
  .header__subtext--box {
    left: 72%;
  }
}
@media (max-width: 828px) {
  .header__subtext--box {
    left: 70%;
  }
}
@media (max-width: 500px) {
  .header__subtext--box {
    top: 70%;
    left: 65%;
  }
}
.section-about {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 150px;
  margin-bottom: calc(100px + 8vh);
}
@media (max-width: 828px) {
  .section-about {
    flex-wrap: wrap;
  }
}
.section-about__content {
  flex: 0 1 40%;
}
@media (max-width: 828px) {
  .section-about__content {
    flex: 0 1 90%;
    margin-bottom: 50px;
  }
}
.section-about__content h3 {
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: initial;
  line-height: initial;
  margin-bottom: 25px;
}
@media (max-width: 500px) {
  .section-about__content h3 {
    font-size: 2.4rem;
  }
}
.section-about__content p {
  font-size: 2.3rem;
  font-weight: 400;
  letter-spacing: initial;
  line-height: 1.4;
  margin-bottom: 25px;
}
@media (max-width: 500px) {
  .section-about__content p {
    font-size: 1.8rem;
  }
}
.section-about__content a {
  display: inline-block;
  padding: 1rem 2rem;
  border: 3px solid #bf0000;
  border-radius: 4px;
  font-size: 1.9rem;
}
@media (max-width: 500px) {
  .section-about__content a {
    font-size: 1.8rem;
    border: 2px solid #bf0000;
    padding: 0.8rem 2rem;
  }
}
.section-about__graphic {
  flex: 0 1 40%;
}
@media (max-width: 828px) {
  .section-about__graphic {
    flex: 0 1 90%;
  }
}
.section-about__img {
  width: 100%;
  border-radius: 15px;
}
.heading-primary {
  color: #fff;
  margin-bottom: 6rem;
}
@media (max-width: 500px) {
  .heading-primary {
    margin-bottom: 2rem;
  }
}
.heading-primary--main {
  display: block;
  font-size: 10rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  /* only first two properties needed for animation:  */
  animation-name: moveInLeft;
  animation-duration: 0.8s;
  animation-delay: 0.4s;
  animation-fill-mode: backwards;
  /* before ani starts at beginning of ani */
  animation-timing-function: ease-out;
}
@media (max-width: 828px) {
  .heading-primary--main {
    font-size: 8rem;
  }
}
@media (max-width: 500px) {
  .heading-primary--main {
    font-size: 5.5rem;
  }
}
.heading-primary--sub {
  display: block;
  font-size: 5rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  /* only first two properties needed for animation:  */
  animation-name: moveInRight;
  animation-duration: 0.8s;
  animation-delay: 0.8s;
  animation-fill-mode: backwards;
  /* before ani starts at beginning of ani */
  animation-timing-function: ease-out;
}
@media (max-width: 828px) {
  .heading-primary--sub {
    font-size: 4rem;
  }
}
@media (max-width: 500px) {
  .heading-primary--sub {
    font-size: 2.3rem;
  }
}
.section-books-display {
  background: linear-gradient(to bottom right, grey, #f8f0e4);
  max-height: 100vh;
  overflow: hidden;
}
@media (max-width: 828px) {
  .section-books-display {
    display: flex;
    flex-direction: column;
  }
}
.section-books-display .heading {
  width: 40%;
  margin-left: 100px;
}
@media (max-width: 828px) {
  .section-books-display .heading {
    margin-left: 50px;
    width: 50%;
  }
}
@media (max-width: 500px) {
  .section-books-display .heading {
    margin-left: 20px;
  }
}
.section-books-display .heading .books-h2 {
  display: inline-block;
  font-size: 4.6rem;
  padding: 130px 0;
}
@media (max-width: 828px) {
  .section-books-display .heading .books-h2 {
    font-size: 4rem;
    padding: 100px 0;
  }
}
@media (max-width: 500px) {
  .section-books-display .heading .books-h2 {
    font-size: 1.8rem;
    padding: 40px 0;
  }
}
.section-books-display .books {
  width: 140%;
  display: flex;
  flex-wrap: wrap;
  transform: rotateX(60deg) rotateY(0deg) rotateZ(-45deg);
  position: relative;
  margin-top: -750px;
  margin-bottom: -200px;
  margin-left: 50px;
  left: 20%;
}
@media (min-width: 2100px) {
  .section-books-display .books {
    max-width: 100%;
  }
}
@media (max-width: 1100px) {
  .section-books-display .books {
    width: 220%;
  }
}
@media (max-width: 828px) {
  .section-books-display .books {
    width: 300%;
    margin-top: -550px;
  }
}
@media (max-width: 500px) {
  .section-books-display .books {
    width: 250%;
    margin-top: -350px;
    left: 20%;
  }
}
.section-books-display .books .box {
  position: relative;
  width: calc(170px * 1.3);
  height: calc(260px * 1.3);
  margin: 30px 30px 0 0;
  background-image: url(../img/harry-potter.jpg);
  box-shadow: -12px 10px 24px #400000;
  object-fit: scale-down;
}
@media (max-width: 500px) {
  .section-books-display .books .box {
    width: calc(170px * 0.5);
    height: calc(260px * 0.5);
    margin: 30px 30px 0 0;
    background-image: url(../img/harry-potter.jpg);
    box-shadow: -12px 10px 24px #400000;
  }
}
.section-books-display .books .box1 {
  background-image: url(../img/GR1.jpg);
}
.section-books-display .books .box2 {
  background-image: url(../img/GR2.jpg);
}
.section-books-display .books .box3 {
  background-image: url(../img/GR3.jpg);
}
.section-books-display .books .box4 {
  background-image: url(../img/GR4.jpg);
}
.section-books-display .books .box5 {
  background-image: url(../img/GR5.jpg);
}
.section-books-display .books .box6 {
  background-image: url(../img/GR6.jpg);
}
.section-books-display .books .box7 {
  background-image: url(../img/GR7.jpg);
}
.section-books-display .books .box8 {
  background-image: url(../img/GR8.jpg);
}
.section-books-display .books .box9 {
  background-image: url(../img/GR9.jpg);
}
.section-books-display .books .box10 {
  background-image: url(../img/GR10.jpg);
}
.section-books-display .books .box11 {
  background-image: url(../img/GR11.jpg);
}
.section-books-display .books .box12 {
  background-image: url(../img/GR12.jpg);
}
.section-books-display .books .box13 {
  background-image: url(../img/GR13.jpg);
}
.section-books-display .books .box14 {
  background-image: url(../img/GR14.jpg);
}
.section-books-display .books .box15 {
  background-image: url(../img/GR15.jpg);
}
.section-books-display .books .box16 {
  background-image: url(../img/GR16.jpg);
}
.section-books-display .books .box17 {
  background-image: url(../img/GR17.jpg);
}
.section-books-display .books .box18 {
  background-image: url(../img/GR18.jpg);
}
.section-books-display .books .box19 {
  background-image: url(../img/GR19.jpeg);
}
.section-books-display .books .box20 {
  background-image: url(../img/GR20.jpeg);
}
.section-books-display .books .box21 {
  background-image: url(../img/GR21.jpeg);
}
.section-books-display .books .box22 {
  background-image: url(../img/GR22.jpeg);
}
.section-books-display .books .box23 {
  background-image: url(../img/GR23.jpeg);
}
.section-books-display .books .box24 {
  background-image: url(../img/GR24.jpeg);
}
.section-books-display .books .box25 {
  background-image: url(../img/GR25.jpeg);
}
.section-books-display .books .box26 {
  background-image: url(../img/GR26.jpeg);
}
.section-books-display .books .box27 {
  background-image: url(../img/GR27.jpeg);
}
.section-books-display .books .box28 {
  background-image: url(../img/GR28.jpeg);
}
.section-books-display .books .box29 {
  background-image: url(../img/GR29.jpeg);
}
.section-books-display .books .box30 {
  background-image: url(../img/GR30.jpeg);
}
.section-books-display .books .box31 {
  background-image: url(../img/GR31.jpeg);
}
.section-books-display .books .box32 {
  background-image: url(../img/GR32.jpeg);
}
.section-books-display .books .box33 {
  background-image: url(../img/GR33.jpeg);
}
.section-books-display .books .box34 {
  background-image: url(../img/GR34.jpeg);
}
.section-books-display .books .box35 {
  background-image: url(../img/GR35.jpeg);
}
.section-books-display .books .box36 {
  background-image: url(../img/GR36.jpeg);
}
.section-books-display .books .box37 {
  background-image: url(../img/GR37.jpeg);
}
.section-books-display .books .box38 {
  background-image: url(../img/GR38.jpeg);
}
.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 18vh;
  background-color: rgba(191, 0, 0, 0.8);
}
.footer a {
  color: #f8f0e4;
  padding: 0 8rem;
  font-size: 1.6rem;
  text-decoration: none;
}
@media (max-width: 828px) {
  .footer a {
    font-size: 2.7rem;
    padding: 0 3rem;
  }
}
@media (max-width: 500px) {
  .footer a {
    padding: 0 0.8rem;
    font-size: 1.4rem;
  }
}
.footer .logo__img {
  max-height: 90px;
}
@media (max-width: 500px) {
  .footer .logo__img {
    max-height: 40px;
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem) /* for performance, stick to only these two */;
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-4rem);
    /* for performance, stick to only these two */
  }
  50% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(2rem) /* for performance, stick to only these two */;
  }
  50% {
    transform: translateX(-2rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.header-about {
  position: relative;
  height: 55vh;
  background-image: linear-gradient(to top right, rgba(191, 0, 0, 0.8), rgba(128, 0, 0, 0.8)), url(../img/books-background.jpg);
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 45vh, 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 51vh, 0 100%);
}
.header-about__text--box {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  width: 80vw;
}
@media (max-width: 500px) {
  .header-about__text--box {
    top: 50%;
  }
}
.heading-primary-about {
  color: #fff;
  margin-bottom: 6rem;
}
.heading-primary-about--main {
  display: block;
  font-size: 8rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  /* only first two properties needed for animation:  */
  animation-name: moveInLeft;
  animation-duration: 0.8s;
  animation-delay: 0.4s;
  animation-fill-mode: backwards;
  /* before ani starts at beginning of ani */
  animation-timing-function: ease-out;
}
@media (max-width: 828px) {
  .heading-primary-about--main {
    font-size: 7rem;
    font-weight: 400;
  }
}
@media (max-width: 500px) {
  .heading-primary-about--main {
    font-size: 5rem;
    font-weight: 400;
  }
}
.heading-primary-about--sub {
  display: block;
  font-size: 2.1rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  /* only first two properties needed for animation:  */
  animation-name: moveInRight;
  animation-duration: 0.8s;
  animation-delay: 0.8s;
  animation-fill-mode: backwards;
  /* before ani starts at beginning of ani */
  animation-timing-function: ease-out;
  margin-top: 3rem;
}
@media (max-width: 828px) {
  .heading-primary-about--sub {
    font-size: 2.5rem;
  }
}
@media (max-width: 500px) {
  .heading-primary-about--sub {
    font-size: 1.4rem;
  }
}
.profiles {
  min-height: 80vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 100px 50px;
}
@media (max-width: 500px) {
  .profiles {
    margin: 50px 0px;
  }
}
@media (max-width: 828px) {
  .profiles {
    margin: 50px 0px;
  }
}
.profiles__person {
  flex-basis: 450px;
  flex-grow: 1;
  max-width: 450px;
}
@media (max-width: 828px) {
  .profiles__person {
    max-width: 550px;
  }
}
.profiles__person .person__content {
  text-align: center;
  padding: 2rem 0;
}
.profiles__person .person__content img {
  width: 85%;
}
@media (max-width: 500px) {
  .profiles__person .person__content img {
    width: 95%;
  }
}
@media (max-width: 828px) {
  .profiles__person .person__content img {
    width: 95%;
  }
}
.profiles__person .person__content .person__name {
  width: 85%;
  display: inline-block;
  text-align: left;
  font-size: 3rem;
  padding: 1rem 0;
}
@media (max-width: 500px) {
  .profiles__person .person__content .person__name {
    width: 95%;
  }
}
@media (max-width: 828px) {
  .profiles__person .person__content .person__name {
    width: 95%;
  }
}
.profiles__person .person__content .person__text {
  width: 85%;
  display: inline-block;
  text-align: left;
  font-size: 1.7rem;
  padding-top: 0;
  padding-bottom: 2rem;
}
@media (max-width: 500px) {
  .profiles__person .person__content .person__text {
    width: 95%;
  }
}
@media (max-width: 828px) {
  .profiles__person .person__content .person__text {
    width: 95%;
  }
}
