// about us styling
.about-us-header {
    position: relative;
    height: 45vh;
    background-image: linear-gradient(
        to top right, 
        @color2, 
        @color3), 
        url(../img/books-background.jpg);
    background-size: cover;
    background-position: center;

    clip-path: polygon(0 0, 100% 0, 100% 40vh, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 40vh, 0 100%);

    //     @media @mobile { top: 50%;}
    // }

    display: flex;
    justify-content: center;
    align-items: center;
    
    
    &__content {

        text-align: left;
        width: 70%;
        position: relative;
        transform: translateY(-1vh);

        @media @mobile { top: 50%;}

        .heading-primary {
            color: @color1;
            margin-bottom: 6rem;
            &--main {
                display: block;
            
                font-size: 8rem;
                font-weight: 400;
                letter-spacing: .1rem;
            
                /* only first two properties needed for animation:  */
                animation-name: moveInLeft;
                animation-duration: .8s;
                animation-delay: 0.4s;
                animation-fill-mode: backwards; /* before ani starts at beginning of ani */
                animation-timing-function: ease-out;
        
                @media @tablet {font-size: 7rem;font-weight: 400;}
                @media @mobile {font-size: 5rem;font-weight: 400;}
            }
            &--sub {
                display: block;
                font-size: 2.1rem;
                font-weight: 400;
                letter-spacing: .2rem;
        
                @media @tablet {font-size: 2.5rem;}
                @media @mobile {font-size: 2rem;}
            
                /* only first two properties needed for animation:  */
                animation-name: moveInRight;
                animation-duration: .8s;
                animation-delay: 0.8s;
                animation-fill-mode: backwards; /* before ani starts at beginning of ani */
                animation-timing-function: ease-out;
        
                //
                margin-top: 3rem;
            }
        }
    }   
}




.profiles {
    min-height: 80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 100px 50px;

    @media @mobile { 
        margin: 50px 0px;
    }
    @media @tablet { 
        margin: 50px 0px;
    }
    
    &__person{
      flex-basis: 450px;
      flex-grow: 1;
      max-width: 750px;

      @media @tablet { max-width: 550px}

      .person__content {
          //background-color: red;
          text-align: center;
          padding: 2rem 0;

          img {
              width: 85%;
              @media @mobile { width: 95%; }
              @media @tablet { width: 95%; }
            }

          .person__name {
            width: 85%;
            @media @mobile { width: 95%; font-size: 4rem; }
            @media @tablet { width: 95%; font-size: 4rem;}

            display: inline-block;
            text-align: left;

            // font formatting
            font-size: 3rem;
            padding: 1rem 0;

          }
          .person__text {
            width: 85%;
            @media @mobile { width: 95%; font-size: 2.5rem;}
            @media @tablet { width: 95%; font-size: 2.5rem;}

            display: inline-block;
            text-align: left;

            // font formatting
            font-size: 1.9rem;
            padding-top: 0;
            padding-bottom: 2rem;
          }
      }

    }  
}
